@import url("https://fonts.googleapis.com/css2?family=League+Gothic&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "League Gothic", sans-serif;
  scroll-behavior: smooth;
}

body,
html {
  height: 100%;
  width: 100%;
}

.hamburger_menu {
  position: absolute;
  left: 0;
  top: -100%;
  background-color: #101210;
  height: 100vh;
  width: 100%;
  z-index: 100;
  transition: all 0.4s cubic-bezier(0.88, 0.33, 0.29, 0.87);
}
.hamburger_menu .content {
  padding-top: 15vh;
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  padding-left: 5vw;
  width: 100%;
}
.hamburger_menu .content .left {
  z-index: 2;
  width: 70%;
  position: relative;
}
.hamburger_menu .content .left .image {
  position: absolute;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
}
.hamburger_menu .content .left .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  right: 0;
}
.hamburger_menu .content .left ul li {
  z-index: 2;
  letter-spacing: 3vw;
  padding: 0 2vw;
  font-size: 10vw;
  text-transform: uppercase;
  list-style: none;
  color: white;
  cursor: pointer;
  position: relative;
  transition: all 1s cubic-bezier(0.47, 1.64, 0.41, 0.8);
}
.hamburger_menu .content .left ul li::after {
  transition: all 0.5s cubic-bezier(0.47, 1.64, 0.41, 0.8);
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: white;
  left: 0;
  bottom: 0;
}
.hamburger_menu .content .left ul li:hover {
  background-color: rgba(56, 56, 56, 0.568);
}
.hamburger_menu .content .left ul li:hover::after {
  width: 100%;
}
.hamburger_menu .content .bg {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.hamburger_menu .content .bg h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgba(65, 65, 65, 0.4392156863);
  letter-spacing: 1vw;
  font-size: 30vw;
}

.navbar {
  z-index: 100;
  position: relative;
  color: white;
  height: 15vh;
  background-color: #101210;
  width: 100%;
}
.navbar .topHeader {
  height: 20%;
  width: 100%;
  background-color: #C7F300;
  display: flex;
  align-items: center;
  z-index: 2;
}
.navbar .topHeader marquee {
  width: 100%;
  color: black;
  font-size: 1vw;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
}
.navbar .mainNav {
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
  justify-content: space-between;
  padding: 1vw;
}
.navbar .mainNav .menu {
  display: flex;
  align-items: center;
  height: 100%;
  gap: 10px;
  cursor: pointer;
}
.navbar .mainNav .menu i {
  font-size: 2.2vw;
}
.navbar .mainNav .menu h3 {
  font-weight: 200;
  font-size: 2.5vw;
}
.navbar .mainNav .logo h1 {
  font-size: 3vw;
  font-weight: 500;
}
.navbar .mainNav .utils {
  display: flex;
  gap: 20px;
}
.navbar .mainNav .utils img {
  width: 2.2vw;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
}

.homepage {
  background-image: url("../src/assets/HomepageBg-full.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
  flex-direction: column;
}
.homepage .homepageContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.homepage .homepageContent p {
  font-size: 2vw;
  color: white;
}
.homepage .homepageContent p span {
  color: #C7F300;
}
.homepage .homepageContent .content span {
  color: #D9D9D9;
  font-weight: 500;
  font-size: 12vw;
  text-shadow: 11px 1px 0px rgba(0, 0, 0, 0.808);
  letter-spacing: 1vw;
  display: block;
}
.homepage button {
  background: #D9D9D9;
  width: 10vw;
  border: none;
  height: 4vw;
  font-size: 2vw;
  cursor: pointer;
}

.admin-login {
  background-color: #25272E;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
}
.admin-login .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3vw;
}
.admin-login .container h1 {
  color: #878990;
  font-weight: 500;
  font-size: 5vw;
}
.admin-login .container form {
  display: flex;
  flex-direction: column;
  gap: 1vw;
}
.admin-login .container form input {
  font-size: 2vw;
  background-color: #4E5057;
  border: 1px solid;
  padding: 0 1vw;
  width: 30vw;
  height: 5vw;
  color: #acadb1;
  border-radius: 3px;
}
.admin-login .container form input:user-valid {
  border-color: green;
}
.admin-login .container form input:user-invalid {
  border-color: red;
}
.admin-login .container form .button {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 10px;
}
.admin-login .container form .button p {
  color: white;
  font-size: 1vw;
  font-family: "Montserrat", sans-serif;
  text-decoration: underline;
  cursor: pointer;
}
.admin-login .container form .button button {
  background-color: #58B0CC;
  font-family: "Montserrat", sans-serif;
  border: none;
  color: white;
  padding: 1px;
  font-weight: 500;
  width: 10vw;
  height: 3vw;
  cursor: pointer;
  font-size: 1.2vw;
}

.dashboard {
  height: 100vh;
}
.dashboard .dashboard-Navbar {
  background-color: #171717;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2vw;
}
.dashboard .dashboard-Navbar .hamburger {
  display: flex;
  align-items: center;
  gap: 10px;
}
.dashboard .dashboard-Navbar .hamburger i {
  cursor: pointer;
  color: white;
  font-size: 2vw;
}
.dashboard .dashboard-Navbar .hamburger h1 {
  color: white;
  font-weight: 500;
}
.dashboard .dashboard-Navbar .button .btn {
  height: 30px;
  width: 90px;
  cursor: pointer;
  background-color: #58B0CC;
  color: white;
  border: none;
}
.dashboard .dashboard-content .content-heading {
  font-size: 3vw;
  font-weight: 500;
}
.dashboard .dashboard-content .priceDetails {
  display: flex;
  justify-content: space-between;
  margin: 0 3vw;
  align-items: center;
}
.dashboard .dashboard-content .priceDetails .container {
  display: flex;
  gap: 10px;
}
.dashboard .dashboard-content .priceDetails .container input {
  width: 200px;
  margin: 0 auto;
  height: 35px;
  padding: 0 5px;
  font-size: 1.4vw;
}
.dashboard .dashboard-content .priceDetails button {
  height: 50px;
  width: 120px;
  cursor: pointer;
  background-color: #58B0CC;
  color: white;
  font-weight: 500;
  border: none;
  font-size: 1.1vw;
  font-family: "Montserrat", sans-serif;
}
.dashboard .dashboard-content .dashboard-content-container {
  display: flex;
  gap: 10px;
  margin: 3vw;
}
.dashboard .dashboard-content .dashboard-content-container .left {
  width: 50%;
}
.dashboard .dashboard-content .dashboard-content-container .left h1 {
  font-size: 2vw;
  font-weight: 500;
  color: #595959;
}
.dashboard .dashboard-content .dashboard-content-container .left .box {
  display: flex;
  padding: 1vw;
  gap: 10px;
  border: 2px solid #E3E3E3;
  border-radius: 5px;
  flex-direction: column;
}
.dashboard .dashboard-content .dashboard-content-container .left .box input {
  height: 50px;
  padding: 0 1vw;
  font-size: 1.2vw;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
}
.dashboard .dashboard-content .dashboard-content-container .left .box textarea {
  resize: vertical;
  min-height: 150px;
  font-family: "Montserrat", sans-serif;
  font-size: 1.2vw;
  padding: 1vw;
}
.dashboard .dashboard-content .dashboard-content-container .left .product-stats {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.dashboard .dashboard-content .dashboard-content-container .left .product-stats .gender select {
  font-size: 1.8vw;
  width: 200px;
}
.dashboard .dashboard-content .dashboard-content-container .left .product-stats .size {
  display: flex;
  gap: 10px;
}
.dashboard .dashboard-content .dashboard-content-container .left .product-stats .size label {
  font-size: 2vw;
  display: flex;
  align-items: center;
  color: #595959;
}
.dashboard .dashboard-content .dashboard-content-container .left .product-stats .size label input {
  width: 50px;
  height: 40px;
}
.dashboard .dashboard-content .dashboard-content-container .right {
  width: 50%;
}
.dashboard .dashboard-content .dashboard-content-container .right h1 {
  font-size: 2vw;
  font-weight: 500;
  color: #595959;
}
.dashboard .dashboard-content .dashboard-content-container .right .box {
  padding: 10px;
  border: 2px solid #E3E3E3;
  border-radius: 5px;
  display: flex;
  gap: 10px;
}
.dashboard .dashboard-content .dashboard-content-container .right .box .box_left_section {
  border: 2px dotted black;
  border-radius: 5px;
  height: 150px;
  width: 30%;
}
.dashboard .dashboard-content .dashboard-content-container .right .box .box_left_section #imageUpload {
  padding: 10px;
  background-color: #F3F1F1;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.dashboard .dashboard-content .dashboard-content-container .right .box .box_right_section {
  border: 2px solid #E3E3E3;
  border-radius: 5px;
  height: 300px;
  width: 70%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dashboard .dashboard-content .dashboard-content-container .right .box .box_right_section #imagePreview {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  margin-top: 10px;
}

.category {
  width: 100%;
  padding: 5vw;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.category .bottom-container {
  width: 100%;
}
.category .bottom-container .container {
  width: 100%;
  height: 300px;
  position: relative;
}
.category .bottom-container .container .content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.category .bottom-container .container .content button {
  background: #D9D9D9;
  width: 7vw;
  border: none;
  height: 3vw;
  font-size: 1.5vw;
  cursor: pointer;
}
.category .bottom-container .container .content h1 {
  color: white;
  font-size: 4vw;
  font-family: "Montserrat", sans-serif;
}
.category .bottom-container .container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.category .top-container {
  display: flex;
  gap: 20px;
  height: 100%;
}
.category .top-container .top-left,
.category .top-container .top-right {
  width: 50%;
  position: relative;
}
.category .top-container .top-left img,
.category .top-container .top-right img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.category .top-container .top-left .content,
.category .top-container .top-right .content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.category .top-container .top-left .content button,
.category .top-container .top-right .content button {
  background: #D9D9D9;
  width: 7vw;
  border: none;
  height: 3vw;
  font-size: 1.5vw;
  cursor: pointer;
}
.category .top-container .top-left .content h1,
.category .top-container .top-right .content h1 {
  color: white;
  font-size: 4vw;
  font-family: "Montserrat", sans-serif;
}

.newArrival {
  margin: 5vw 0;
  height: 100dvh;
  width: 100%;
}
.newArrival .btn {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.newArrival .btn button {
  font-size: 1.5vw;
  font-weight: 500;
  cursor: pointer;
  height: 100%;
  width: 150px;
  background-color: #292828;
  border: none;
  color: white;
}
.newArrival .heading {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.newArrival .heading h1 {
  font-size: 2.5vw;
  font-weight: 300;
  text-decoration: underline;
  font-family: "Montserrat", sans-serif;
}
.newArrival .heading p {
  margin-top: 10px;
  font-size: 1.5vw;
  letter-spacing: 10px;
  color: #6F6F6F;
}
.newArrival .product {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin: 2vw 10vw;
  overflow: hidden;
}
.newArrival .product .row {
  width: 300px;
  position: relative;
}
.newArrival .product .row::after {
  content: "New";
  position: absolute;
  align-content: center;
  text-align: center;
  top: 2%;
  right: 2%;
  height: 50px;
  width: 50px;
  background-color: #C7F300;
  border-radius: 50%;
}
.newArrival .product .row .image {
  width: 100%;
  height: 350px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
  position: relative;
  cursor: pointer;
}
.newArrival .product .row .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.newArrival .product .row .description p {
  font-size: 1.2vw;
  font-family: "Montserrat", sans-serif;
}
.newArrival .product .row .description h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6vw;
  font-weight: 500;
}
.newArrival .product .row .description .price {
  display: flex;
  align-items: center;
  gap: 10px;
}
.newArrival .product .row .description .price h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5vw;
  font-weight: 500;
}
.newArrival .product .row .description .price p {
  font-family: "Montserrat", sans-serif;
  color: red;
  font-size: 1vw;
  font-weight: 500;
}

.productsPage {
  width: 100%;
}
.productsPage .mainContent {
  display: flex;
  width: 100%;
}
.productsPage .mainContent .mainPage {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  padding: 20px 50px;
  gap: 20px 30px;
}

.productPage {
  width: 100%;
  height: 100vh;
}
.productPage .container {
  display: flex;
  width: 100%;
  height: 100%;
}
.productPage .container .left {
  width: 40%;
  height: 100%;
  padding: 60px;
}
.productPage .container .left img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.productPage .container .right {
  padding: 60px;
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.productPage .container .right .sizes {
  display: flex;
  align-items: center;
  gap: 10px;
}
.productPage .container .right .sizes label {
  font-size: 1.5vw;
  font-weight: 500;
  cursor: pointer;
}
.productPage .container .right .sizes input {
  cursor: pointer;
  width: 25px;
  height: 25px;
}
.productPage .container .right .buttons {
  display: flex;
  align-items: center;
  gap: 10px;
}
.productPage .container .right .buttons button {
  width: 100px;
  height: 50px;
  cursor: pointer;
  font-size: 1.5vw;
  font-weight: 500;
}
.productPage .container .right .buttons .addToCart {
  background-color: #C7F300;
  border: none;
  font-weight: 500;
  width: 200px;
}
.productPage .container .right p {
  color: green;
  font-family: "Montserrat", sans-serif;
}
.productPage .container .right .productName h1 {
  font-size: 4vw;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
}
.productPage .container .right .productDescription p {
  font-size: 1.5vw;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  width: 50%;
  color: #999898;
}
.productPage .container .right .price {
  display: flex;
  align-items: center;
  gap: 10px;
}
.productPage .container .right .price h1,
.productPage .container .right .price h2,
.productPage .container .right .price h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5vw;
  font-weight: 600;
}
.productPage .container .right .price h1 {
  font-size: 2vw;
}
.productPage .container .right .price h2 {
  font-size: 1.7vw;
}
.productPage .container .right .price h2 span {
  text-decoration: line-through;
  font-weight: 500;
  color: #898989;
  font-size: 1.5vw;
}
.productPage .container .right .price h3 {
  font-size: 1vw;
  color: red;
}
.productPage .similarProd h1 {
  font-size: 2vw;
  margin: 30px 20px;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
}
.productPage .similarProd .container {
  width: 100%;
  display: flex;
  gap: 20px;
  padding: 20px;
  flex-wrap: wrap;
}

.searchPage {
  position: absolute;
  right: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
}
.searchPage .container input {
  width: 90%;
  padding: 10px;
  height: 50%;
  background-color: #090A09;
  color: white;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  border-radius: 10px;
}

.searchPageResult h1 {
  font-size: 3vw;
  font-weight: 500;
}
.searchPageResult .container {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.sponsers {
  width: 100%;
  padding: 20px;
}
.sponsers h1 {
  margin-bottom: 10px;
  font-size: 2.5vw;
  font-weight: 300;
  text-decoration: underline;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}
.sponsers .top {
  cursor: pointer;
}
.sponsers .top img {
  width: 100%;
}
.sponsers .bottom {
  cursor: pointer;
  display: flex;
}
.sponsers .bottom img {
  width: 50%;
}

.newsletter {
  padding: 10px;
  background-color: #101210;
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.newsletter h1 {
  color: white;
  font-weight: 500;
  font-size: 5vw;
}
.newsletter input {
  width: 50%;
  font-family: "Montserrat", sans-serif;
  height: 50px;
  background-color: rgb(51, 51, 51);
  padding: 0 10px;
  color: white;
  font-weight: 400;
  font-size: 1.2vw;
}
.newsletter button {
  width: 20%;
  height: 50px;
  font-size: 2vw;
  cursor: pointer;
}/*# sourceMappingURL=main.css.map */